.footer {
  background: rgba(55, 0, 237, 0.5);
  color: #e7e6f6;
  padding: 44px 0 0 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.footer__skills,
.footer__main-links,
.footer__bottom {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__skills {
  margin-bottom: 20px;
  background: rgba(40, 20, 80, 0.3);
  padding: 34px 32px 24px 32px;
  border-radius: 20px;
}

.footer__skills h4 {
  font-size: 1.18rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 28px;
  letter-spacing: .2px;
}

.footer__skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 36px 32px;
  margin-bottom: 16px;
}

.footer__skills-grid h5 {
  color: #fff;
  font-size: 1.06rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.footer__skills-grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__skills-grid li {
  font-size: 1.03rem;
  color: #e7e6f6;
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.12s;
  border-radius: 7px;
  padding: 2px 8px;
}

.footer__skills-grid li:hover {
  color: #fff9ef;
  background: rgba(85,0,237,0.1);
}

.footer__main-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
  background: rgba(40, 20, 80, 0.23);
  padding: 24px 32px;
  border-radius: 16px;
  margin-bottom: 28px;
}

.footer__main-links h5 {
  color: #fff;
  font-size: 1.06rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.footer__main-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__main-links li {
  font-size: 1.03rem;
  color: #e7e6f6;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 7px;
  padding: 2px 8px;
  transition: color 0.12s;
}

.footer__main-links li:hover {
  color: #fff9ef;
  background: rgba(85,0,237,0.11);
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #4313ac;
  padding: 14px 0 8px 0;
  color: #caccf2;
  font-size: 1rem;
}

.footer__logo {
  height: 24px;
  vertical-align: middle;
  margin-right: 12px;
  background: #fff;
  border-radius: 6px;
  padding: 2px 8px;
}

.footer__settings, .footer__lang {
  color: #e7e6f6;
  font-size: 1.01rem;
  margin-left: 30px;
}

.footer__lang {
  padding-left: 14px;
  border-left: 1px solid #643cec;
  margin-left: 12px;
  border-radius: 7px;
}
